@model CodeFirstApproach.Models.Items

@{
    ViewData["Title"] = "View";
    //Layout = "";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Background.css">
</head>


<div class="container add-new-item-container">

    <h4 class="add-emp-heading">Add New Item</h4>
    <h2 class="text-success">@ViewBag.Message</h2>
    <hr />
    <div class="row">
        <div class="row">

            <form class="row" method="post" asp-action="AddItem">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-6">
                    <label asp-for="Item_Name" class="control-label">Name </label>
                    <input asp-for="Item_Name" class="form-control" id="add-emp-fName" />
                    <span asp-validation-for="Item_Name" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Item_Description" class="control-label">Description</label>
                    <input asp-for="Item_Description" class="form-control" id="add-emp-lName" />
                    <span asp-validation-for="Item_Description" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Item_Price" class="control-label">Price</label>
                   <input type="number" asp-for="Item_Price" class="form-control" id="add-emp-lName" />
                    <span asp-validation-for="Item_Price" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Item_Quantity" class="control-label">Quantity</label>
                    <input type="number" asp-for="Item_Quantity" class="form-control" id="add-emp-dob" />
                    <span asp-validation-for="Item_Quantity" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Item_SSNCode" class="control-label">SSN Code</label>
                    <input type="number" asp-for="Item_SSNCode" class="form-control" id="add-emp-deptId" />
                    <span asp-validation-for="Item_SSNCode" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Item_Status" class="control-label">Status</label>
                    <input type="number" asp-for="Item_Status" class="form-control" id="add-emp-salary" />
                    <span asp-validation-for="Item_Status" class="text-danger"></span>
                </div>

                <div class="form-group col-1">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
                <div class="form-group col-2 mt-1">
                    <a asp-action="ListofItems">Back to List</a>
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    }

</div>